.flex-1 {
	flex: 1 !important;
}

.sm-margin {
	margin: 0 10px 0 10px;
}

.no-fluff {
	margin: 0;
	padding: 0;
}

.centerer {
	text-align: center;
}

body {
	background-color: #B5FFFF;
}

.not-100 {
	width: 60% !important;
}

.fit-in-area {
	width: 85%; 
	text-align: center;
	float: right;
	padding: 30px 75px 30px 75px;
}


.btn-purple {
  color: #fff;
  background-color: #FF00FF;
  border-color: #FF00FF;
}

.btn-orange {
	color: #fff;
	background-color: #FF8C00;
	border-color: #FF8C00;
}

.btn-purple:hover {
	color: #fff;
	background-color: #bd00bd;
}

.btn-orange:hover {
	color: #fff;
	background-color: #d67600;
}